 @import url('https://fonts.googleapis.com/css?family=Roboto');

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Roboto', sans-serif;
 }

 :root {
     --primary-color: #30304d;
     --secondary-color: #fff;
     --important-color: #f1c40f;
 }

 img {
     width: 100%;
 }

 a {
     text-decoration: none;
     outline: none;
 }

 ul li {
     list-style: none;
 }

 .flex {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 [v-cloak] {
     display: none;
 }

 #loader {
     background-color: var(--primary-color);
     color: var(--secondary-color);
 }

 /* Navbar Styles */
 nav {
     background-color: var(--primary-color);
     font-size: 1.2rem;
 }

 .navbar-toggler {
     color: var(--secondary-color) !important;
     border: 1px solid var(--secondary-color) !important;
     padding: 10px 15px;

 }

 .navbar-toggler:hover {
     background-color: var(--secondary-color) !important;
     color: var(--theme-color) !important;
 }

 .navbar-toggler:focus {
     outline: none !important;
     box-shadow: none !important;
 }

 .navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show,
 .navbar-light .navbar-nav .show>.nav-link {
     background-color: var(--secondary-color);
     border-radius: 5px;
     color: var(--primary-color) !important;
 }

 section {
     padding: 100px 0;
     height: 100vh;
 }

 .main-carousel {
     width: 100%;
     height: 100%;
 }

 .carousel-cell {
     width: 100%;
     height: 100%;
     font-size: 40px;
 }

 /* Loader Styles */

 .loader,
 .loader:before,
 .loader:after {
     border-radius: 50%;
     width: 2.5em;
     height: 2.5em;
     animation-fill-mode: both;
     animation: bblFadInOut 1.8s infinite ease-in-out;
 }

 .loader {
     color: var(--secondary-color);
     font-size: 7px;
     position: relative;
     text-indent: -9999em;
     transform: translateZ(0);
     animation-delay: -0.16s;
 }

 .loader:before,
 .loader:after {
     content: '';
     position: absolute;
     top: 0;
 }

 .loader:before {
     left: -3.5em;
     animation-delay: -0.32s;
 }

 .loader:after {
     left: 3.5em;
 }

 @keyframes bblFadInOut {

     0%,
     80%,
     100% {
         box-shadow: 0 2.5em 0 -1.3em
     }

     40% {
         box-shadow: 0 2.5em 0 0
     }
 }


 /* Media Queries  */

 @media screen and (min-width:1024px) {

     /* xl */
     .navbar-nav a {
         padding: 8px 15px;
         margin: 0px 5px;
         color: var(--secondary-color) !important;
     }
 }

 @media screen and (min-width:768px) and (max-width:1023px) {

     /* md && lg */
     .navbar-nav a {
         color: var(--secondary-color) !important;
     }

     .navbar-nav {
         margin-top: 20px;
     }
 }

 @media screen and (max-width:767px) {

     /* sm && xs */
     .navbar-nav a {
         color: var(--secondary-color) !important;
     }

     .navbar-nav {
         margin-top: 20px;
     }
 }